//$primary:       red !default;
//$secondary:     orange !default;
//$success:       blue !default;
//$info:          pink !default;
//$warning:       green !default;
//$danger:        indigo !default;
//$light:         white !default;
//$dark:          black !default;

$blue:    #0678be;
$cyan:    #064771;
$white:   #FFFFFF;
$black:   #000000;
$green:   #46a05a;
$pink:    #ee0979;
$bgray:   #D4D4D4;

$font-family-sans-serif: 'Roboto', sans-serif;

