.main-top-header{
  position: relative;
  background: #158fda;
  background: -moz-linear-gradient(-45deg, #158fda 0% #1e9eec 100%);
  background: -webkit-linear-gradient(-45deg, #158fda 0%, #1e9eec 100%);
  background: linear-gradient(-45deg, #158fda 0%, #1e9eec 100%);
  background-size: 350% 350%;
  animation: waveColors 15s ease infinite;
  color: $white;
  text-shadow: 1px 1px 10px $cyan;
  border-radius: 0;

  .logo{
    max-width: 320px;
  }

  &.fontend {
    h1 {
      font-size: 3.5rem;
      margin-bottom: 1.5rem;
    }
  }

  .main-top-header-content {
    z-index: 30;
    position: relative;
  }

  canvas{
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    opacity:0;
    transition:3.5s opacity cubic-bezier(.55,0,.1,1);
    &.ready{
      opacity:1;
    }
  }
}

@-webkit-keyframes waveColors {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@keyframes waveColors {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}