@mixin bp($point) {

  $bp-sm: "(max-width: 576px)";
  $bp-md: "(max-width: 768px)";
  $bp-lg: "(max-width: 992px)";
  $bp-xl: "(max-width: 1200px)";

  @if $point == sm{
    @media #{$bp-sm} { @content; }
  }
  @else if $point == md {
    @media #{$bp-md} { @content; }
  }
  @else if $point == lg {
    @media #{$bp-lg}  { @content; }
  }
  @else if $point == xl {
    @media #{$bp-xl}  { @content; }
  }
}